<div class="contents-box">
  <div class="container-top">
    <h3>まずはあなたのプロフィールを登録しましょう！！</h3>
    <p>※1分程度で完了します</p>
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), {:class => "btn-btn" } %>
  </div>
</div>