<div class="contents-box">
  <div class="container-left">
    <div class="container-left-register">
      <h3>フィードバックが完了しました</h3>
    </div>
    <%= link_to "全体へ戻る", "/products", class:"btn-btn" %>
    <%= link_to 'FBをした投稿へ戻る', " /products/#{@product.id}/reviews/#{@review.id}/comments/#{@comments.id}", class: "btn-btn" %>
  </div>
</div>