<div class="contents-box">
  <div class="container-left">
    <div class="container-left-register">
      <h3>プロフィール編集が完了しました</h3>
      <%= link_to "プロフィールへ行く", user_path(current_user), class:"btn4" %>
    </div>
  </div>
</div>