<div class="contents">
  <section class="first">
    <div class="mains-container">
      <div class="first-left">
        <h1>Booksreview(title)</h1>
        <p>（当サービス↑）は読書レビューコミュニティとして本を読んだ後のアウトプット先がない方&本の要約を求めている方の悩みを解決するサービスです。</p>
        <a class="tops-button" href="/users/sign_up">無料で新規登録</a>
      </div>
      <div class="first-right">
      </div>
    </div>
  </section>
  <section class="second">
    <div class="mains-container">
      <h2>読書にまつわる現状の課題</h2>
      <div class="mains-container-box">
        <div class="second-box">
          <h3>読書をする人</h3>
          <%= image_tag "noautput.png" %>
          <p>読書はすれば良いわけではない。アウトプットして初めて意味があるものになる。</p>
          <p>しかしアウトプットしようにも良いサービスがない。</p>
          <p>Twitter？文字制限が・・・ブログを開設する？それはかなり面倒そうな・・・</p>
          <p>結局アウトプット出来ず仕舞い・・・</p>
        </div>
        <div class="second-box">
          <h3>時間がない人</h3>
          <%= image_tag "notime.png" %>
          <p>本の重要さを理解しているが読む時間が取れない・・・</p>
          <p>1冊あたり平均2時間はかかってしまうため効率が悪い</p>
          <p>たくさんの人の意見を吸収したい・・・</p>
          <p>結局インプットを怠ってしまう・・・</p>
        </div>
      </div>
      <h4>そんな方にぜひ使っていただきたい！！</h4>
    </div>
  </section>
  <section class="third">
    <div class="mains-container">
      <h2>（当サービス）の特徴</h2>
      <div class="third-box">
        <h3>読書をする人（アウトプット環境を求めている方）</h3>
        <div class="second-left">
          <p>適切なアウトプット環境設備</p>
          <p>フォーマットが用意されており理想的なアウトプットを実現</p>
          <p>自身のアウトプットに対し適切なフィードバックを得ることができるため自身のアウトプットスキルを上げていくことが可能</p>
        </div>
        <div class="second-right">
          <%= image_tag "easyautput.png" %>
        </div>
      </div>
      <div class="third-box">
        <h3>本を読む時間がない人</h3>
        <div class="third-right">
          <p>他人の要約を読むことができ本を丸々読まなくとも10分程度で内容の理解が可能</p>
          <p>多数のレビューを見ることができるため様々な意見を聞くことが可能</p>
        </div>
        <div class="third-left">
          <%= image_tag "easyinput.png" %>
        </div>
      </div>
      <div class="third-center">
        <a class="mains-button" href="/users/sign_up">早速サービスを利用する</a>
      </div>
    </div>
  </section>
</div>