<div class="contents-box">
  <div class="container-left">
    <div class="container-left-register">
      <h3>書籍の登録が完了しました</h3>
    </div>
    <a class="btn-btn" href="/products">投稿一覧へ戻る</a>
    <a class="btn-btn" href="/products/<%= @products.id %>/reviews/new">続けて書籍のレビューを書く</a>
  </div>
</div>