<div class="contents-box">
  <div class="container-left">
    <div class="container-left-register">
      <h3>削除が完了しました</h3>
    </div>
    <a class="btn-btn" href="/products">Back to post list</a>
  </div>
</div>