<div class="contents-box">
  <div class="container-left">
    <div class="container-left-register">
      <h3>レビューの編集が完了しました</h3>
    </div>
    <%= link_to "全体へ戻る", "/products", class:"btn-btn" %>
    <%= link_to "編集したレビューを確認する", "/products/#{@product.id}/reviews/#{@review.id}", class:"btn-btn" %>
  </div>
</div>